<%= form_for(@expertise_area) do |f| %>
  <% if @expertise_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expertise_area.errors.count, "error") %> prohibited this expertise_area from being saved:</h2>

      <ul>
      <% @expertise_area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Save area of expertise", class: "btn btn-success btn-lg" %>
  </div>
<% end %>
