<h1>Areas of expertise</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @expertise_areas.each do |expertise_area| %>
      <tr>
        <td><%= expertise_area.name %></td>
        <td><%= link_to 'Show', expertise_area %></td>
        <td><%= link_to 'Edit', edit_expertise_area_path(expertise_area) %></td>
        <td><%= link_to 'Destroy', expertise_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New area of expertise', new_expertise_area_path %>
