<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:
      </h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :place_name %><br>
    <%= f.text_field :place_name, class: "place_name", autocomplete: "off", spellcheck: "off" %>
    <% if @student.persisted? %>
      <%= f.hidden_field :place_id %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>

  <div class="form-group">
    <%= f.label :expertise_area_id, "Area of expertise" %><br>
    <%= f.select :expertise_area_id, ExpertiseArea.all.pluck(:name, :id) %>
  </div>

  <div class="form-group">
    <%= f.label :background_id, "Background" %><br>
    <%= f.select :background_id, Background.all.pluck(:name, :id) %>
  </div>

  <br/>
  <h2>
    Work places
    <%= link_to_add_association('Add', f, :work_places,
      class: "btn btn-info",
      "data-association-insertion-node" => ".work_places",
      "data-association-insertion-method" => "after"
    ) %>
  </h2>
  <hr/>

  <div class="work_places">
    <%= f.fields_for :work_places do |work_place| %>
      <%= render 'work_place_fields', :f => work_place %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-success btn-lg" %>
  </div>
<% end %>
