<ul>
  <li>
    <h2>
      <%= link_to "Students", students_path %>
      [<%= @students_count %>]
    </h2>
  </li>

  <li>
    <h2>
      <%= link_to "Areas of expertise", expertise_areas_path %>
      [<%= @areas_of_expertise_count %>]
    </h2>
  </li>

  <li>
    <h2>
      <%= link_to "Places", places_path %>
      [<%= @places_count %>]
    </h2>
  </li>

  <li>
    <h2>
      <%= link_to "Organisations", organisations_path %>
      [<%= @organisations_count %>]
    </h2>
  </li>

  <li>
    <h2>
      <%= link_to "Engagement types", engagement_types_path %>
      [<%= @engagement_types_count %>]
    </h2>
  </li>
</ul>

<br/><br/><br/><br/>

<p>
  Avoid this unless required: <%= link_to "Admin tasks", admin_tasks_path %>
</p>