<h1>
  Organisations
  <%= link_to 'Add Organisation', new_organisation_path, class: "btn btn-success pull-right" %>
</h1>
<hr/>


<% @organisations.each do |organisation| %>
  <div class="well well-sm">
    <h3><%= organisation.name %></h3>

    <p>Work places: <%= organisation.work_places.count %></p>

    <%= link_to(
        "<span class='glyphicon glyphicon-edit'></span> Edit".html_safe,
        edit_organisation_path(organisation),
        class: "btn btn-primary btn-sm")
    %>

    <%= link_to(
        "<span class='glyphicon glyphicon-remove-circle'></span> Delete".html_safe,
        organisation,
        method: :delete,
        class: "btn btn-danger btn-sm",
        data: { confirm: 'Are you sure?' })
    %>
  </div>
<% end %>

<%= paginate @organisations %>
