<h1>
  Places
  <%= link_to 'Add Place', new_place_path, class: "btn btn-success pull-right" %>
</h1>
<hr/>

<% @places.each do |place| %>
  <div class="well well-sm">
    <h3><%= place.name_with_country %></h3>

    <p>
      Native place for: <%= place.students.count %>
      <br/>
      Work place for: <%= place.work_places.count %>
    </p>

    <%= link_to(
          "<span class='glyphicon glyphicon-edit'></span> Edit".html_safe,
          edit_place_path(place),
          class: "btn btn-primary btn-sm")
    %>

    <%= link_to(
          "<span class='glyphicon glyphicon-remove-circle'></span> Delete".html_safe,
          place,
          method: :delete,
          class: "btn btn-danger btn-sm",
          data: { confirm: 'Are you sure?' })
    %>

  </div>
<% end %>

<%= paginate @places %>