<!DOCTYPE html>
<html>
<head>
  <title>NMD Alumni Plotter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <% if params[:controller] == "main" && params[:action] == "index" %>
    <style>
      html, body {
        height: 100%;
      }
    </style>
  <% end %>

</head>
<body>

  <% unless params[:controller] == "main" && params[:action] == "index" %>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "NMD Alumni Plotter", root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse">
          <% if user_signed_in? %>
            <ul class="nav navbar-nav">
              <li <%= 'class = active' if params[:controller] == "admin" %>>
                <%= link_to "Dashboard", admin_path %>
              </li>

              <li <%= 'class = active' if params[:controller] == "students" %>>
                <%= link_to "Students", students_path %>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support data <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Backgrounds", backgrounds_path %></li>
                  <li><%= link_to "Engagement Types", engagement_types_path %></li>
                  <li><%= link_to "Expertises", expertise_areas_path %></li>
                  <li><%= link_to "Organisations", organisations_path %></li>
                  <li><%= link_to "Places", places_path %></li>
                </ul>
              </li>

              <li <%= 'class=active' if params[:controller] == "members" %>>
                <%= link_to "Users", members_path %>
              </li>

              <li <%= 'class=active' if params[:controller] == "student_invites" %>>
                <%= link_to "Student invites", student_invites_path %>
              </li>
            </ul>
          <% end %>

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li>
                <%= link_to "Account", edit_member_path(current_user.id) %>
              </li>

              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to "Login", new_user_session_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>


  <% if params[:controller] == "main" && params[:action] == "index" %>
    <%= yield %>
  <% else %>
    <div class="container">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  <% end %>

</body>
</html>
